<app-branch-empty *ngIf="branchs!=null && branchs.length == 0"></app-branch-empty>
<div *ngIf="branchs!=null && branchs.length > 0">
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewBranch()">新增分店</button>
    <button md-button (click)="openDialog()">Launch dialog</button>
    You chose: {{selectedOption}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    目前已登记{{branchs.length}}家店面，已有{{totalAccounts}}个账号在使用。
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-branch-item *ngFor="let branchEl of branchs; let i = index"
                     [branch]='branchEl' [index]="i"></app-branch-item>
  </div>
</div>
</div>
