<h1>分店列表</h1>
<div class="row">
  <div class="center" style="width: 270px;">
    <p class="noMargin">目前已登记{{branchs.length}}家店面，已有{{totalAccounts}}个账号在使用。</p>
  </div>
</div>



<div class="col-xs-12" style="margin-top: 50px;">
  <div class="center" style="width: 300px;">
    <button md-button routerLink="." type="button" class="btn-success login_btn confirm" (click)="onNewBranch()">新增分店</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-branch-item *ngFor="let branchEl of branchs; let i = index"
                     [branch]='branchEl' [index]="i" class="center"></app-branch-item>
  </div>
</div>


<app-branch-empty *ngIf="branchs.length == 0"></app-branch-empty>
<div *ngIf="branchs.length > 0">
<div class="row">
  <div class="col-xs-12">
    <button md-button (click)="openDialog()">Launch dialog</button>
    You chose: {{selectedOption}}
  </div>
</div>

<hr>

</div>
